.header__container {
    background-color: #1C1C24;
    border-bottom: 2px solid #262631;
    width: 100%;
    z-index: 999999;
    position: fixed;
    top: 0;
    left: 0;
    user-select: none;
    transition: all 0.3s;
    .header {
        max-width: 1366px;
        margin: auto;
        height: 80px;
        padding: 25px 60px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
        z-index: 999999;
        .logo__div {
            display: flex;
            align-items: center;
            gap: 10px;
            transition: all 0.2s;
            .logo__img {
                background: url(../images/header/logo_bg.svg) no-repeat center;
                position: relative;
                width: 30px;
                height: 30px;
                .logo__icon {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
            }
            .logo__nane {
                color: #fff;
                font-weight: 500;
                font-size: 18px;
            }
            &:hover {
                transform: scale(1.05);
                transition: all 0.2s;
            }
        }
        .header__nav {
            display: flex;
            align-items: center;
            gap: 40px;
            a {
                position: relative;
                display: flex;
                align-items: center;
                gap: 10px;
                align-items: center;
                font-size: 18px;
                font-weight: 500;
                color: #5F5F6E;
                transition: all 0.2s;
                height: 40px;
                .hr {
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    width: 0;
                    height: 2px;
                    border: 0;
                    background-color: #4447E2;
                    transition: all 0.3s;
                    border-radius: 20px;
                }
                i {
                    font-size: 24px;
                }
                .task_div {
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    gap: 2px;
                    div {
                        width: 8px;
                        height: 8px;
                        background-color: #5F5F6E;
                        transition: all 0.2s;
                        border-radius: 2px;
                    }
                }
                &:hover {
                    color: #fff;
                    transition: all 0.2s;
                    hr {
                        width: 40px;
                        transition: all 0.3s;
                    }
                    .task_div {
                        div {
                            background-color: #fff;
                        }
                    }
                }
            }
            .task__button {
                color: #fff;
                .task_div {
                    div {
                        background-color: #fff;
                    }
                }
            }
        }
        .menu__button__links {
            cursor: auto;
            position: absolute;
            top: 82px;
            left: 50%;
            transform: translateX(-50%);
            background-color: #1C1C24;
            width: 500px;
            height: 0px;
            border-bottom-left-radius: 15px;
            border-bottom-right-radius: 15px;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 35px;
            z-index: 0;
            overflow: hidden;
            transition: all 0.2s;
            display: none;
            a {
                position: relative;
                display: flex;
                align-items: center;
                gap: 10px;
                align-items: center;
                font-size: 18px;
                font-weight: 500;
                color: #5F5F6E;
                transition: all 0.2s;
                height: 40px;
                .hr {
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    width: 0;
                    height: 2px;
                    border: 0;
                    background-color: #4447E2;
                    transition: all 0.3s;
                    border-radius: 20px;
                }
                i {
                    font-size: 24px;
                }
                .task_div {
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    gap: 2px;
                    div {
                        width: 8px;
                        height: 8px;
                        background-color: #5F5F6E;
                        transition: all 0.2s;
                        border-radius: 2px;
                    }
                }
                &:hover {
                    color: #fff;
                    transition: all 0.2s;
                    hr {
                        width: 40px;
                        transition: all 0.3s;
                    }
                    .task_div {
                        div {
                            background-color: #fff;
                        }
                    }
                }
            }
            .task__button {
                color: #fff;
                .task_div {
                    div {
                        background-color: #fff;
                    }
                }
            }
        }
        .menu__button__links.active {
            height: 60px;
            transition: all 0.2s;
            a {
                &:hover {
                    color: #fff;
                }
            }
        }
        .header__nav__bottom {
            user-select: none;
            position: fixed;
            bottom: 0;
            left: 0;
            display: flex;
            justify-content: space-between;
            padding: 0px 25px !important;
            width: 100%;
            height: 60px;
            border-top: 2px solid #262631;
            background: #1C1C24;
            z-index: 999999;
            display: none;
            h4 {
                width: 60px;
                height: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                color: #5F5F6E;
                font-size: 10px;
                cursor: pointer;
                transition: all 0.2s;
                user-select: none;
                i {
                    font-size: 25px;
                }
                .task_div {
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    gap: 2px;
                    margin-top: 8px;
                    margin-bottom: 12px;
                    div {
                        width: 8px;
                        height: 8px;
                        background-color: #5F5F6E;
                        transition: all 0.2s;
                        border-radius: 2px;
                    }
                }
                &:active {
                    transition: all 0.2s;
                    .task_div {
                        div {
                            transition: all 0.2s;
                            background-color: #4447E2;
                        }
                    }
                }
            }
            .task__button {
                color: #fff;
                .task_div {
                    div {
                        background-color: #fff;
                    }
                }
            }
            .menu.color {
                color: #fff;
            }
        }
        .header__tools {
            display: flex;
            align-items: center;
            gap: 10px;
            .menu__button {
                width: 50px;
                height: 40px;
                background: #2D2D3A;
                border-radius: 15px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 5px;
                cursor: pointer;
                border: 2px solid #2D2D3A;
                transition: all 0.2s;
                display: none;
                span {
                    background-color: #fff;
                    width: 25px;
                    height: 2px;
                    border-radius: 10px;
                }
                &:hover {
                    border: 2px solid #4447E2;
                    transition: all 0.2s;
                }
                &:active {
                    transform: scale(0.90);
                    transition: all 0.2s;
                }
            }
            .balancs {
                width: 125px;
                height: 40px;
                border-radius: 15px;
                background: #2D2D3A;
                display: flex;
                align-items: center;
                padding: 5px;
                gap: 22px;
                border: 2px solid #2D2D3A;
                transition: all 0.2s;
                user-select: none;
                .balancs__add {
                    cursor: pointer;
                    transition: all 0.1s;
                    display: none;
                    &:active {
                        transform: scale(0.95);
                        transition: all 0.1s;
                    }
                }
                .clock__div {
                    cursor: auto;
                    display: flex;
                    align-items: center;
                    gap: 8px;
                    img {
                        width: 30px;
                        border-radius: 20px;
                        transition: all 0.2s;
                    }
                    .time {
                        font-size: 16px;
                        color: #fff;
                        font-weight: 500;
                        letter-spacing: 1px;
                        transition: all 0.3s;
                        cursor: auto;
                    }
                }
                &:hover {
                    border: 2px solid #4447E2;
                    transition: all 0.2s;
                }
            }
            .avatar {
                width: 40px;
                height: 40px;
                border-radius: 50%;
                cursor: pointer;
                transition: all 0.1s;
                object-fit: cover;
                user-select: none;
                border: 2px solid #2D2D3A;
                transition: all 0.2s;
                &:active {
                    transform: scale(0.90);
                    transition: all 0.1s;
                }
                &:hover {
                    border: 2px solid #4447E2;
                    transition: all 0.2s;
                }
            }
            .arrow {
                transition: all 0.3s;
                transform: rotate(90deg);
                .uil {
                    color: #fff;
                    font-size: 25px;
                }
            }
            .arrow.active {
                transition: all 0.3s;
                transform: rotate(-90deg);
                .uil {
                    color: #4447E2;
                }
            }
        }
        .dropdown {
            width: 254px;
            height: fit-content;
            background-color: red;
            position: absolute;
            top: 75px;
            right: 110px;
            border-radius: 10px;
            border: 2px solid #262631;
            background-color: #1C1C24;
            padding: 20px;
            flex-direction: column;
            gap: 20px;
            overflow-y: auto;
            user-select: none;
            display: none;
            .item {
                display: flex;
                align-items: center;
                justify-content: left;
                gap: 10px;
                transition: all 0.2s;
                width: fit-content;
                cursor: pointer;
                position: relative;
                height: 40px;
                i {
                    font-size: 20px;
                    color: #5F5F6E;
                }
                p {
                    font-size: 16px;
                    font-weight: 500;
                    color: #5F5F6E;
                }
                .hr {
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    width: 0;
                    height: 2px;
                    border: 0;
                    background-color: #4447E2;
                    transition: all 0.3s;
                    border-radius: 20px;
                }
                .task_div {
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    gap: 2px;
                    div {
                        width: 8px;
                        height: 8px;
                        background-color: #5F5F6E;
                        transition: all 0.2s;
                        border-radius: 2px;
                    }
                }
                &:hover {
                    p,
                    i {
                        color: #fff;
                        transition: all 0.2s;
                    }
                    .hr {
                        width: 40px;
                        transition: all 0.2s;
                    }
                    .task_div div {
                        background-color: #fff;
                        transition: all 0.2s;
                    }
                }
            }
            .menu__item {
                font-size: 20px;
                color: #fff;
                font-weight: 600;
                display: none;
            }
            .item__border {
                display: flex;
                align-items: center;
                justify-content: space-between;
                border-top: 1px solid #2D2D3A;
                border-bottom: 1px solid #2D2D3A;
                padding: 15px 0;
                cursor: auto;
                &:hover {
                    p,
                    i {
                        color: #fff;
                    }
                }
                div {
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    padding: 0;
                    cursor: auto;
                    i {
                        font-size: 20px;
                        color: #fff;
                    }
                    p {
                        font-size: 16px;
                        font-weight: 500;
                        color: #fff;
                    }
                }
                .mode {
                    font-size: 30px;
                    height: 24px;
                    width: 44px;
                    background: #2D2D3A;
                    border-radius: 15px;
                    position: relative;
                    cursor: pointer;
                    .radius {
                        position: absolute;
                        width: 18px;
                        height: 18px;
                        right: 3px;
                        top: 3px;
                        background: #4447E2;
                        border-radius: 50%;
                        transition: all 1s;
                        cursor: pointer;
                    }
                    .radius.active {
                        left: 3px;
                        transition: all 1s;
                    }
                }
            }
            .logout {
                p,
                i {
                    color: #E24444;
                }
            }
            .dropdown__footer {
                font-weight: 400;
                font-size: 14px;
                color: #5F5F6F;
                text-align: center;
                margin-top: 30px;
                display: none;
                a {
                    color: #4447E2;
                }
            }
        }
        .dropdown.hide {
            display: none;
        }
        .dropdown.active {
            display: flex;
        }
        .dropdown.hider {
            display: none;
        }
    }
}
@media(max-width: 992px) {
    .header__container {
        .header {
            padding: 24px;
            .nav {
                display: flex;
            }
            .dropdown {
                right: 24px;
            }
        }
    }
}
@media(max-width: 850px) {
    .header__container {
        .header {
            .header__nav {
                gap: 10px;
                display: none;
            }
            .nav {
                display: flex;
            }
            .dropdown {
                right: 24px;
            }
            .menu__button__links {
                display: flex;
            }
            .header__tools {
                .menu__button {
                    display: flex;
                }
            }
        }
    }
}
@media(max-width: 550px) {
    .header__container {
        .header {
            .header__tools {
                .menu__button {
                    width: 40px;
                    span {
                        width: 20px;
                    }
                }
                .balancs {
                    width: 110px;
                    height: 30px;
                    gap: 5px;
                    img {
                        width: 25px !important;
                    }
                    .time {
                        font-size: 14px !important;
                    }
                }
            }
        }
    }
}
@media(max-width: 500px) {
    .header__container {
        .header {
            padding: 10px 16px;
            height: 50px;
            .logo__div {
                .logo__img {
                    height: 25px;
                    width: 25px;
                    border-radius: 50%;
                }
                .logo__icon {
                    width: 20px;
                }
                .logo__nane {
                    font-size: 15px;
                }
            }
            .menu__button__links {
                display: none;
            }
            .header__tools {
                .menu__button {
                    display: none;
                }
                .avatar,
                .arrow {
                    display: none;
                }
            }
            .dropdown {
                width: 100%;
                height: calc(100vh - 110px);
                right: 0px;
                gap: 20px;
                top: 50px;
                border-radius: 0;
                border: 0;
                border-top: 1px solid #262631;
                overflow: auto !important;
                .dropdown__footer {
                    display: block;
                }
                .menu__item {
                    display: flex;
                }
            }
            .dropdown.active {
                display: flex !important;
            }
        }
        .header__nav__bottom {
            display: flex !important;
            z-index: 999999;
        }
    }
}