@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body{
    // font-family: 'Red Hat Display', sans-serif;
    font-family: 'Poppins', sans-serif;
    background-color: #131419;

}
.container{
    width: 100%;
    
    .section{
        max-width: 1366px;
        margin: auto;
    }
}
::-webkit-scrollbar{
    background-color: #131419;
    width: 10px;
}
::-webkit-scrollbar-thumb{
    background: #2D2D3A;
}

@import "./header";
@import "./tasklist";
@import "./news";
@import "./taskCreation";
@import "./profile";
@import "./history";
// @import "./footer";
